//
// footer.scss
//

.footer {
    background-image: url("/assets/images/cartographer.png");
    position: relative;

    // .social {
    //     .social-icon {
    //         color: #6c757d;
    //         width: 40px;
    //         height: 40px;
    //         line-height: 40px;
    //         margin: 15px 10px;
    //         position: relative;
    //         z-index: 2;

    //         &:hover {
    //             color: #fff !important;



    //             // &:after {
    //             //     background: #cdb30c;
    //             //     -webkit-transform: rotate(0deg);
    //             //     transform: rotate(0deg);
    //             // }
    //         }

    //         &:after {
    //             content: "";
    //             width: 100%;
    //             height: 100%;
    //             position: absolute;
    //             top: 0;
    //             left: 0;
    //             border-radius: 10px;
    //             -webkit-transform: rotate(45deg);
    //             transform: rotate(45deg);
    //             background-color: #222;
    //             z-index: -1;
    //             -webkit-transition: all 0.4s;
    //             transition: all 0.4s;
    //         }
    //     }


    // }

    .footer-terms {
        li {
            &:last-child {
                &:after {
                    content: "";
                }
            }
            a {
                &:hover {
                    color: $white !important;
                    transition: all 0.5s;
                }
            }
            &:after {
                content: "|";
                margin: 0 20px;
                color: #757575;
            }
        }
    }
}
