//
// general.scss
//

body {
  font-family: "Victor Mono", monospace;
  overflow-x: hidden !important;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Victor Mono", monospace;
//   font-style: oblique;
  text-decoration: none;
//   font-variant-ligatures: common-ligatures;
}

.btn,
.btn:focus,
button,
button:focus {
  outline: none !important;
}

a {
  text-decoration: none !important;
  outline: none;
}

p {
  font-size: 14.4px;
  line-height: 24px;
}

.row > * {
  position: relative;
}
