@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

body {
    font-family: Oswald, 'Patrick Hand', monospace;
    font-weight: 300;
    overflow-x: hidden !important;
    position: relative;
    letter-spacing: -0.5pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-weight: 300;
}

.navbar-brand {
    font-weight: 700;
}

.btn,
.btn:focus,
button,
button:focus {
    outline: none !important;
    // background-color: white;
}

a {
    text-decoration: none !important;
    outline: none;
}

p {
    font-size: 17px;
    line-height: 24px;
}

.row > * {
    position: relative;
}
