
body {
    font-family: 'Patrick Hand', monospace;
    overflow-x: hidden !important;
    position: relative;
    letter-spacing: -0.5pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:  'Patrick Hand', monospace;
    //   font-style: oblique;
    text-decoration: none;
    //   font-variant-ligatures: common-ligatures;
}

// .navbar-brand {
//     font-family: 'Oswald', sans-serif;
// }

.btn,
.btn:focus,
button,
button:focus {
    outline: none !important;
    // background-color: white;
}

a {
    text-decoration: none !important;
    outline: none;
}

p {
    font-size: 17px;
    line-height: 24px;
}

.row > * {
    position: relative;
}
