$btn-size: 40px;
$sites: (
    "facebook": #3b5998,
    "instagram": #125688,
    "whatsapp": #4dc247,
    "linkedin": #007bb5
);

.animate {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

%social-icon-inactive {
    &:before {
        top: 90%;
        left: -110%;
    }

    .icofont {
        transform: scale(0.8);
    }

    // variants
    @each $name, $color in $sites {
        &.#{$name} {
            &:before {
                background-color: $color;
            }

            .icofont {
                color: $color;
            }
        }
    }
}

%social-icon-active {
    &:before {
        top: -10%;
        left: -10%;
    }

    .icofont {
        color: #fff !important;
        transform: scale(1);
    }
}

.social {
    margin: auto;
    font-size: 0;
    text-align: center;

    a {
        color: inherit !important;
    }

    .social-icon {
        @extend %social-icon-inactive;
        @extend .animate;
        display: inline-block;
        background-color: #222;
        width: $btn-size;
        height: $btn-size;
        line-height: $btn-size;
        margin: 0 10px;
        text-align: center;
        position: relative;
        overflow: hidden;
        border-radius: 28%;
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
        opacity: 0.99;

        &:before {
            @extend .animate;
            content: "";
            width: 120%;
            height: 120%;
            z-index: -1;
            position: absolute;
            transform: rotate(45deg);
        }

        .icofont {
            @extend .animate;
            font-size: 20px;
            font-weight: bold;
            vertical-align: middle;
        }

        &:focus,
        &:hover {
            @extend %social-icon-active;
        }
    }
}
