.switcher {
    font-size: 30px !important;
    text-align: center;

    .switch-icon {
        cursor: pointer;

        .icofont-night {
            color: #fff;

            &:hover {
                color: #cdb30c;
            }
        }

        .icofont-sun-alt {
            color: #cdb30c;

            &:hover {
                color: #fff;
            }
        }
    }
}
