.skills {
    padding: 10px 0;

    .skill-text  {
        display: flex;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 5px;
        // color: #eee;
        text-align: left;

        .skill-icon {
            font-size: 16px;
        }
    }

    .skill-progress {
        height: 8px;
        width: 100%;
        background-color: #eee;
        border-radius: 20px;
        position: relative;

        .progres {
            width: 10%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 20px;
            background-color: #cdb30c;
            -webkit-transition: all 1.5s;
            transition: all 1.5s;
        }

        .progres:after {
            content: attr(data-value);
            position: absolute;
            top: -20px;
            right: -5px;
            font-size: 10px;
        }
    }
}
