body {
    color: #FFE4E1;
}

.th-primary {
    background: #333 !important;
}

.th-secondary {
    background: #252222 !important;
}

.txt-primary {
    color: #FFE4E1 !important;
}

.wave {
    fill: #333 !important;
}

.wv-primary {
    fill: #252222 !important;
}

.form-control {
    background: #252222 !important;
    color: #FFE4E1 !important;
}

h3, h5 {
    color: #31b164 !important;
}
