<!-- CONTACT FORM START-->
<section class="section th-secondary" id="contact">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-12">
                <i class="icofont icofont-live-support title-icon"></i>
                <h3 class="title">Contacta <span class="fw-bold">Conmigo</span></h3>
                <p class="txt-primary mt-3 title-subtitle mx-auto">
                    Si tienes alguna duda o consulta, no dudes en contactarme,
                    estoy para ayudarte.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="mt-4 pt-4">
                    <p class="txt-primary mt-4">
                        <span class="fw-bold label-c">Numero de Cel.:</span><br>
                        <span class="d-block">+51 959 034 122</span>
                    </p>
                    <p class="txt-primary mt-4">
                        <span class="fw-bold label-c">Dirección:</span><br>
                        <span class="d-block">Espinar - Cusco - Perú</span>
                    </p>
                    <p class="txt-primary mt-4">
                        <span class="fw-bold label-c">Correo Electrónico:</span><br>
                        <span class="d-block">lionelsh.salazar@gmail.com</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="custom-form mt-4 pt-4">
                    <div *ngIf="success" class="alert alert-primary" role="alert">
                        <strong class="msg-title"><em>¡Bien hecho!</em></strong>
                        <span class="msg-body"> Correo enviado correctamente </span>
                    </div>
                    <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)" novalidate>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mt-2">
                                    <input type="text" class="form-control" placeholder="Nombres y apellidos"
                                        formControlName="fullName" [ngClass]="{ 'is-invalid':
                                            form.fullName.errors &&
                                            form.fullName.touched }" required>
                                    <!-- <div *ngIf="submitted && form.fullName.errors" class="invalid-feedback">
                                            <div *ngIf="form.fullName.errors.required">Nombres y apellidos es requerido.</div>
                                        </div> -->
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mt-2">
                                    <input type="email" class="form-control" placeholder="Correo electrónico"
                                        formControlName="email" [ngClass]="{ 'is-invalid':
                                            form.email.errors &&
                                            form.email.touched }" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group mt-2">
                                    <input type="text" class="form-control" formControlName="subject"
                                        placeholder="Asunto" [ngClass]="{ 'is-invalid':
                                            form.subject.errors &&
                                            form.subject.touched }" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group mt-2">
                                    <textarea rows="4" class="form-control" placeholder="Mensaje"
                                        formControlName="message" [ngClass]="{ 'is-invalid':
                                            form.message.errors &&
                                            form.message.touched }" required>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">

                                <!-- <div class="mt-4">
                                    <a href="#" class="btn btn-outline-white btn-round">Read More</a>
                                </div> -->

                                <button type="submit" class="submitBnt btn btn-success btn-round">
                                    <ng-container *ngIf="submitted && contactForm.valid; else defaultText">
                                        <div class="loader"></div>
                                    </ng-container>
                                    <ng-template #defaultText>Enviar Mensaje</ng-template>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <svg class="wave" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 81.717"
        enable-background="new 0 0 1920 81.717" xml:space="preserve">
        <path
            d="M1920,0c0,0-109.246,46.107-316.333,67.334C1343.5,94,1137.095,77.238,999.167,67.5C854,57.25,637.662,24.697,541.709,18.834C375.334,8.666,147,11,0,37.875V0H1920L1920,0z">
        </path>
    </svg>
</section>
<!-- CONTACT FORM END-->
