<!-- START ABOUT -->
<section class="section th-primary about" id="about">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-12">
                <i class="icofont icofont-man-in-glasses title-icon"></i>
                <h3 class="title">Sobre <span class="fw-bold">Mi</span></h3>
                <p class="txt-primary text-justify mt-3 title-subtitle mx-auto">
                    Mi nombre es Leonel Hacha Salazar, soy Analista de Sistemas, he estado desarrollando sitios web y
                    aplicaciones para
                    distintos entornos (escritorio, web, movil) durante aproximadamente 3 años.
                    La mayor parte de mi experiencia radica en el desarrollo de aplicaciones web.</p>
            </div>
        </div>
        <div class="row mt-5 vertical-content">
            <div class="col-lg-5 iam-img mt-2">
                <div class="img-container mb-40">
                    <div class="iam"></div>
                    <!-- <div class="paper"></div> -->
                    <!-- <img src="assets/images/iam-3.jpg" alt="Leonel Hacha Salazar"
                        class="img-pic img-fluid mx-auto d-block"> -->
                </div>
            </div>
            <div class="col-lg-5 mt-2">
                <div class="features-desc ">
                    <h4 class="title">Analista de <span class="fw-bold">Sistemas</span></h4>
                    <p class="txt-primary text-justify mt-3">Me considero una persona responsable, dinámico y proactivo
                        y
                        con muchas ganas de trabajar y de aprender, con facilidad de
                        adaptación y capacidad de trabajar en equipo, estoy capacitado
                        e instruido para dar y crear soluciones pragmáticas a problemas
                        tecnológicos de cualquier tipo, desarrollar aplicaciones web,
                        móvil y de escritorio, ya que tengo el conocimiento suficiente
                        por mi formación profesional de Analista de Sistemas.</p>

                    <div class="text-center">
                        <a href="assets/cv/CV. Leonel Hacha Salazar (AS).pdf" target="_blank"
                            class="btn btn-success btn-round mt-3 ml-3">
                            <span>Descargar CV</span>
                            <i class="mdi mdi-chevron-right"></i></a>

                        <a [ngxScrollTo]="'#contact'" href="javascript: void(0);"
                            class="btn btn-primary btn-round mt-3 ml-3">
                            <span>Contratame</span>
                            <i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <svg class="wave" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 1920 81.717" enable-background="new 0 0 1920 81.717" xml:space="preserve">
        <path
            d="M1920,0c0,0-109.246,46.107-316.333,67.334C1343.5,94,1137.095,77.238,999.167,67.5C854,57.25,637.662,24.697,541.709,18.834C375.334,8.666,147,11,0,37.875V0H1920L1920,0z">
        </path>
    </svg>
</section>
<!-- END ABOUT -->
