.img-iam {
    width: 70%;
    border-radius: 50%;
}

.skills {
    padding: 10px 0;
}
.skills h6 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}
.skills .skill-progress {
    height: 8px;
    width: 100%;
    background-color: #eee;
    border-radius: 20px;
    position: relative;
}
.skills .skill-progress .progres {
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #c49b66;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
}
.skills .skill-progress .progres:after {
    content: attr(data-value);
    position: absolute;
    top: -15px;
    right: 0;
    font-size: 10px;
}
