<section class="section th-primary about" id="experiences">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-12">
                <i class="icofont icofont-architecture-alt title-icon"></i>
                <h3 class="title">Mis <span class="fw-bold">Experiencias</span></h3>
                <p class="txt-primary mt-3 title-subtitle mx-auto">
                    Estas son las experiencias que he realizado a
                    lo largo de mi carrera profesional
                    como desarrollador web.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">
                    <div class="timeline" *ngFor="let experience of experiences">
                        <div class="timeline-icon">
                            <span class="year">{{experience.date}}</span>
                        </div>
                        <div class="timeline-content">
                            <div class="title">{{experience.title}}</div>
                            <div class="description">
                                <div>
                                    <i class="icofont icofont-institution"></i>
                                    <span class="pl-2">{{experience.company}}</span>
                                </div>
                                <div>
                                    <i class="icofont icofont-location-pin"></i>
                                    <em class="pl-2">{{experience.location}}</em>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <svg class="wave wv-primary" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 1920 81.717" enable-background="new 0 0 1920 81.717" xml:space="preserve">
        <path
            d="M1920,0c0,0-109.246,46.107-316.333,67.334C1343.5,94,1137.095,77.238,999.167,67.5C854,57.25,637.662,24.697,541.709,18.834C375.334,8.666,147,11,0,37.875V0H1920L1920,0z">
        </path>
    </svg>
</section>
