<!-- STRAT NAVBAR -->
<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark" id="navbar"
    (window:scroll)="windowScroll()">
    <div class="container">

        <a class="navbar-brand text-white fw-bold" href="#">
            <img class="navbar-brand-img" src="assets/images/icons/boy.png" alt="Developer">
            <div>L<span class="text-success">Hacha</span>S</div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
            <span class="ti-menu"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto" id="navbar-navlist">
                <li class="nav-item"
                    [ngClass]="{'active':currentSection === 'home'}"
                    [ngxScrollTo]="'#home'">
                    <i class="nav-icon icofont icofont-ui-home"></i>
                    <span class="nav-link">Inicio</span>
                </li>
                <li class="nav-item"
                    [ngClass]="{'active':currentSection === 'about'}"
                    [ngxScrollTo]="'#about'">
                    <i class="nav-icon icofont icofont-man-in-glasses"></i>
                    <span class="nav-link">Sobre Mi</span>
                </li>
                <li class="nav-item"
                    [ngClass]="{'active':currentSection === 'skills'}"
                    [ngxScrollTo]="'#skills'">
                    <i class="nav-icon icofont icofont-certificate-alt-1"></i>
                    <span class="nav-link">Mis Habilidades</span>
                </li>
                <li class="nav-item"
                    [ngClass]="{'active':currentSection === 'experiences'}"
                    [ngxScrollTo]="'#experiences'">
                    <i class="nav-icon icofont icofont-architecture-alt"></i>
                    <span class="nav-link">Mis Experiencias</span>
                </li>
                <li class="nav-item"
                    [ngClass]="{'active':currentSection === 'services'}"
                    [ngxScrollTo]="'#services'">
                    <i class="nav-icon icofont icofont-responsive"></i>
                    <span class="nav-link">Servicios</span>
                </li>
                <li class="nav-item"
                    [ngClass]="{'active':currentSection === 'contact'}"
                    [ngxScrollTo]="'#contact'">
                    <i class="nav-icon icofont icofont-support"></i>
                    <span class="nav-link"> Contacto </span>
                </li>
            </ul>
            <div class="row aux">
                <div class="col-10 phone fx-center">
                    <!-- <ul class="text-right list-unstyled list-inline mb-0 nav-social">
                        <li class="list-inline-item text-white nav-number">
                            <i class="icofont icofont-ui-cell-phone text-success"></i>
                            <span> +51 959 034 122</span>
                        </li>
                        <li class="list-inline-item"><a href="" class="facebook"><i class="ti-facebook"></i></a></li>
                    </ul> -->
                </div>
                <div class="col-2 fx-center">
                    <theme-switcher></theme-switcher>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- END NAVBAR -->

<div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
    <app-home></app-home>
    <app-about></app-about>
    <app-skills></app-skills>
    <app-experiences></app-experiences>
    <app-services></app-services>
    <app-contact></app-contact>
    <app-footer></app-footer>
    <app-switcher></app-switcher>
</div>
