<!-- START HOME -->
<section class="section bg-home half-home" id="home">
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="text-center">
                            <h1 class="text-white">¡Hola, bienvenido!</h1>

                            <h1 class="text-success home-title mb-0">
                                <span class="text-white">Soy&nbsp;</span>
                                <ngx-typed-js [typeSpeed]="80" [loop]="true" [backDelay]="80"
                                    [strings]="[
                                        'Leonel Hacha Salazar',
                                        'Analista de Sistemas',
                                        'Desarrollador Web',
                                        'Desarrollador Front-end',
                                        'Desarrollador Back-end'
                                    ]">
                                    <h1><em class="typing"></em></h1>
                                </ngx-typed-js>
                            </h1>

                            <h1 class="text-white home-title mb-0"><span class="element"
                                    data-elements="Leonel Hacha Salazar,Analista de Sistemas,Desarrollador Front-end,Desarrollador Back-end"></span>
                            </h1>
                            <p class="txt-primary home-subtitle-center home-subtitle mt-4 mb-0 mx-auto">
                                Profesional <em>Analista de Sistemas</em>, con 3+ años de experiencia,
                                enfocado al desarollo de aplicaciones web.
                            </p>
                            <div class="mt-4">
                                <a [ngxScrollTo]="'#about'"
                                    href="javascript: void(0);"
                                    class="btn btn-success btn-round">
                                    <span>Lee Más</span>
                                </a>

                                <!-- <a [ngxScrollTo]="'#contact'"
                                    href="javascript: void(0);"
                                    class="btn btn-success btn-round">
                                    <span>Contratame</span>
                                </a> -->
                            </div>

                            <!-- <div class="social mt-30">
                                <a href="https://facebook.com/Leonel.Hacha.Salazar" target="_blank"><i
                                        class="icofont icofont-facebook"></i></a>
                                <a href="https://wa.link/lr47pf" target="_blank"><i
                                        class="icofont icofont-whatsapp"></i></a>
                                <a href="https://www.instagram.com/leonelhacha" target="_blank"><i
                                        class="icofont icofont-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/leonel-hacha-salazar-1a2aab89" target="_blank"><i
                                        class="icofont icofont-linkedin"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HOME -->
