$sites: (
    "facebook": #3b5998,
    "instagram": #125688,
    "whatsapp": #4dc247,
    "linkedin": #007bb5
);

.social {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgba(200, 200, 200, 0.05);

    a {
        padding: 0 15px;
        font-size: 18px;
        color: #6c757d;

        &:hover {
            @each $name, $color in $sites {
                .icofont-#{$name} {
                    color: $color
                }
            }
        }
    }
}


// a:hover {
//     color: #FFDD1B !important;
// }

.iam-dev {
    margin: 0px 12px 12px 0px;
}
